@model IEnumerable<AestheticGallery.Models.ViewModels.AlbumPhotoViewModel>

@{
    ViewBag.Title = "UserAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/style")

<h2>Index</h2>


<h1 class="album-title"> Альбомы</h1>
<p>
    @Html.ActionLink("Добавить фото", "AddPhoto")
</p>
<p>
    @Html.ActionLink("Добавить альбом", "AddAlbum")
</p>
@for (int j = 0; j < Model.Count(); j += 2)
{
    <div class="gallery_item">
        @Html.Raw("<div style=\"background-image: url(\"data:image/jpeg;base64,"
                                               + Convert.ToBase64String(Model.ElementAt(j).FirstPhoto) + "\" class=\"gallery_album\">")
        <div class="shadow"><div class="name"><a href="~/User/Album/@(j+1)">@Model.ElementAt(j).Title</a></div></div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(j).AlbumID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(j).AlbumID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(j).AlbumID })
    </div>
    if ((j + 1) < Model.Count())
    {
        @Html.Raw("<div style=\"background-image: url(\"data:image/jpeg;base64,"
                                            + Convert.ToBase64String(Model.ElementAt(j + 1).FirstPhoto) + "\" class=\"gallery_album\">")
        <div class="shadow"><div class="name"><a href="~/User/Album/@(j + 2)">@Model.ElementAt(j + 1).Title</a></div></div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(j + 1).AlbumID }) 
        @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(j + 1).AlbumID }) 
        @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(j + 1).AlbumID })
        @Html.Raw("</div>")
     }
@Html.Raw("</div>")
}



    