@model AestheticGallery.Models.LoginViewModel

@{
    ViewBag.Title = "Login3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Log In</h2>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "margin-bottom: 0px" })
            <br />
            @Html.LabelFor(model => model.Email)
            <br />
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "example@mail.com", style = "margin-bottom: 5px" } })
            <br />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => model.Password)
            <br />
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", style = "margin-bottom: 5px" } })
            <br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <br />
            <button type="submit">Log In</button>
            <br />
        }
    </div>
</div>
