@model AestheticGallery.Models.ViewModels.PhotoViewModel

@{
    ViewBag.Title = "ShowPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowPhoto</h2>

@if (Model.PhotoFile != null)
{
<div class="photo-display">
    @Html.Raw("<img style='width:800px;' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(Model.PhotoFile) + "\" />")
</div>
}
<div>
    <h4>PhotoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageMimeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
